font(fontName, urlName = fontName, weight = normal, style = normal) 
    @font-face
        font-family fontName
        src url("/app/fonts/"+fontName+"/"+urlName+".woff2") format("woff2"),
            url("/app/fonts/"+fontName+"/"+urlName+".woff") format("woff"),
            url("/app/fonts/"+fontName+"/"+urlName+".ttf") format("truetype")
        font-weight weight
        font-style style

// font-name = 'Montserrat'

// font(font-name, font-name+'-thin', 100)
// font(font-name, font-name+'-extralight', 200)
// font(font-name, font-name+'-light', 300)
// font(font-name, font-name+'-regular', 400)
// font(font-name, font-name+'-medium', 500)
// font(font-name, font-name+'-semibold', 600)
// font(font-name, font-name+'-bold', 700)
// font(font-name, font-name+'-extrabold', 800)
// font(font-name, font-name+'-black', 900)

