html
    font-size 62.5%
    box-sizing border-box

body
    font-weight font-weight-light
    font-family 'Montserrat'
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    background color-white

*
*:before
*:after 
    box-sizing: inherit
    border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

    display block

input
    outline none
    border none

a
    text-decoration none
    color purple 

h1, h2, h3, p, blockquote, figure
    reset()

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay
    background-color #111111
    position absolute
    height 100%
    width 100%
    top 0
    opacity 0.7

h2
    text-transform uppercase
    text-align center !important
    font-size 3.2rem
    color color-gray

button
    position relative
    padding 1.9rem 3.8rem

    font-weight font-weight-extrabold
    font-family 'Raleway'
    font-size 1.4rem

    color color-white
    text-transform uppercase

    background-color color-lightbrown
    border-radius micro-border-radius
    box-shadow 0 0.3rem 0 darken(color-lightbrown, 25%)

    margin 0 auto

main
    margin-top -14.7rem

.circle-switcher
    display: flex;
    align-items: center;
    justify-content: center;

    a
        width 1rem
        height @width
        
        margin 0 0.35rem

        background-color color-white
        border-radius big-border-radius

        opacity 0.5

        &.selected
            width 1.5rem
            height @width

            border 0.2rem solid color-brown
            background-color transparent


.row
    position relative
    margin 0 auto
    max-width 120rem
    padding-left 1.5rem
    padding-right 1.5rem 
   
    &.no-gutter
        padding-left 0
        padding-right 0 

*[class*='col-']
    padding-left 1.5rem
    padding-right 1.5rem

    &.no-gutter
        padding-left 0
        padding-right 0 


/*-------------------------------
------------ HEADER -------------
-------------------------------*/
header
    base-markup-for-pages(4rem, 4rem, transparent)

    position relative
    z-index 999

    .menu
        display flex
        justify-content space-around

        a
            color color-white
            font-weight font-weight-light

            &:hover
                color color-brown
    
    .adittion
        display flex
        justify-content space-between
        a
            width 2.6rem
            height @width
            
            background-position center
            background-repeat no-repeat

            &.shop
                background-image url(/app/images/shop.png)
            &.search
                background-image url(/app/images/search.png)

/*-------------------------------
------------- HOME --------------
-------------------------------*/

.home
    base-markup-for-pages(38rem, 4rem, ,'/app/images/background.jpg')

    position relative
    height 100%

    color color-white
    
    .slogan
        font-family 'Raleway'
        font-size 3.6rem
        font-weight font-weight-medium
    
    h1
        font-family 'Raleway'
        font-size 5.2rem
        font-weight font-weight-extrabold

    .description
        margin-top 2rem
        margin-bottom 4.8rem
        padding 0 4.5rem

        font-size 1.6rem
        line-height 2.4rem

    nav
        margin-top 30rem

    .arrow
        padding 0
        background-color transparent
        box-shadow none

        position absolute
        top 0 
        bottom 0 
        margin auto

        width 4rem
        height 7.5rem

        background-repeat no-repeat
        background-image url(/app/images/arrows.png)
        background-position-y 100%

        &.left
            left 15rem
        &.right
            right 15rem
            transform scaleX(-1)

.filter
    display flex
    
