html
    font-size 62.5%
    box-sizing border-box

body
    font-family 'Montserrat'
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    background color-white

*
*:before
*:after 
    box-sizing: inherit
    // border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

    display block

input
    outline none
    border none

a
    text-decoration none
    color purple 

h1, h2, h3, p, blockquote, figure
    reset()

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay
    background-color #f7941d
    position absolute
    height 100%
    width 100%
    top 0
    opacity 0.35

h2
    text-transform uppercase
    text-align center !important
    font-size 3.2rem
    color color-gray

button
    padding 1.4rem 2.6rem
    min-width 13.5rem

    color color-white
    text-transform uppercase

    background-color color-green

    border-radius small-border-radius

    margin 0 auto

main
    margin-top -13rem



/*-------------------------------
------------ HEADER -------------
-------------------------------*/

