html
    font-size 62.5%
    box-sizing border-box

body
    font-weight font-weight-light
    font-family 'Montserrat'
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    background color-white

*
*:before
*:after 
    box-sizing: inherit
    // border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

    display block

input
    outline none
    border none

a
    text-decoration none
    color purple 

h1, h2, h3, p, blockquote, figure
    reset()

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

.overlay
    background-color #111111
    position absolute
    height 100%
    width 100%
    top 0
    opacity 0.7

h2
    margin-bottom 2rem

    text-align center
    font-family 'Raleway'
    font-size 3rem
    font-weight font-weight-semibold
    color color-gray

p
    fonts-size 1.6rem
    color color-lightgray
    line-height 2.4rem

button
    min-width 17rem
    position relative
    padding 1.9rem 3.8rem

    font-weight font-weight-extrabold
    font-family 'Raleway'
    font-size 1.4rem

    color color-white
    text-transform uppercase

    background-color color-lightbrown
    border-radius micro-border-radius
    box-shadow 0 0.3rem 0 darken(color-lightbrown, 25%)

    margin 0 auto

main
    margin-top -14.7rem

.circle-switcher
    display: flex;
    align-items: center;
    justify-content: center;

    a
        width 1rem
        height @width
        
        margin 0 0.35rem

        background-color color-white
        border-radius big-border-radius

        opacity 0.5

        &.selected
            width 1.5rem
            height @width

            border 0.2rem solid color-brown
            background-color transparent

.row
    position relative
    margin 0 auto
    max-width 120rem
    padding-left 1.5rem
    padding-right 1.5rem 
   
    &.no-gutter
        padding-left 0
        padding-right 0 

*[class*='col-']
    padding-left 1.5rem
    padding-right 1.5rem

    &.no-gutter
        padding-left 0
        padding-right 0 


/*-------------------------------
------------ HEADER -------------
-------------------------------*/
header
    base-markup-for-pages(4rem, 4rem, transparent)

    position relative
    z-index 999

    .menu
        display flex
        justify-content space-around

        a
            color color-white
            font-weight font-weight-light

            &:hover
                color color-brown
    
    .adittion
        display flex
        justify-content space-between
        a
            width 2.6rem
            height @width
            
            background-position center
            background-repeat no-repeat

            &.shop
                background-image url(/app/images/shop.png)
            &.search
                background-image url(/app/images/search.png)

/*-------------------------------
------------- HOME --------------
-------------------------------*/

.home
    base-markup-for-pages(38rem, 4rem, ,'/app/images/background.jpg')

    position relative
    height 100%

    color color-white
    
    .slogan
        font-family 'Raleway'
        font-size 3.6rem
        font-weight font-weight-medium
    
    h1
        font-family 'Raleway'
        font-size 5.2rem
        font-weight font-weight-extrabold

    .description
        margin-top 2rem
        margin-bottom 4.8rem
        padding 0 4.5rem

        font-size 1.6rem
        line-height 2.4rem

    nav
        margin-top 30rem

    .arrow
        padding 0
        background-color transparent
        box-shadow none

        position absolute
        top 0 
        bottom 0 
        margin auto

        width 4rem
        height 7.5rem

        background-repeat no-repeat
        background-image url(/app/images/arrows.png)
        background-position-y 100%

        &.left
            left 15rem
        &.right
            right 15rem
            transform scaleX(-1)

/*--------------------------------
------------- SERVICES -----------
--------------------------------*/

.services
    base-markup-for-pages(8rem, 9rem)

    .serivce-item
        text-align center

        &.selected
            .title
                color color-brown
            .description
                &:after
                    background-color color-brown

        .icon
            margin 0 auto
            width 6.4rem
            height 6.4rem

            background-repeat no-repeat
            background-position center

            file-names = design, development, customization, marketing
            for name in file-names
                &.{name}
                    background-image url("/app/images/services/"+name+".png")
        
        .title
            margin  1.2rem 0
            font-family 'Raleway'
            font-weight font-weight-semibold
            font-size 2.2rem

        .description
            line-height 2.4rem

            &:after
                content ''
                display block
                margin 0 auto
                margin-top 2.8rem
                width 7rem
                height 0.2rem
                background-color #f1eee9

/*--------------------------------
----------- REALIZATION ----------
--------------------------------*/

.realization
    base-markup-for-pages(6.5rem)

    .preview
        margin-top 4rem
        margin-bottom -0.4rem

        img 
            max-width 100%

/*--------------------------------
-------------- BANNER ------------
--------------------------------*/

.banner
    base-markup-for-pages(4.5rem,4.5rem, black)
    background-image linear-gradient(to right, #211b19, #4e3427)
    color color-white
    h3
        font-family 'Raleway'
        font-weight font-weight-regular
        font-size 2.8rem
        span 
            color color-brown

    .text 
        margin-top 0.5rem
        font-size 1.8rem
        color #615855

/*--------------------------------
------------ PROJECTS ------------
--------------------------------*/

.projects
    base-markup-for-pages(7rem,8rem)

    .filter
        margin-top 3rem
        margin-bottom 4rem
        display flex

        button
            min-width 7rem
            padding 0.6rem 1.6rem

            text-transform none
            color #8c8c8c
            font-family 'Montserrat'
            font-weight font-weight-light
            
            box-shadow none
            background-color transparent

            border 0.1rem solid #ebebeb

            &.selected
                color color-white
                background-color color-lightbrown
                border none         

    .project-item
        margin-bottom 3rem
        color color-lightgray

        &:hover
            .photo
                .controls
                    display: block

                &:before
                    content ''
                    display block
                    position: absolute
                    width 100%
                    height 100%
                    background-color rgba(#111111, 0.75)
                    background-repeat no-repeat
                    background-position center

            figcaption
                background-color #362f2d
                &:before
                    border-bottom-color #362f2d
                .title
                    color color-white
                .description
                    color color-brown

        .photo
            display flex
            justify-content center
            align-items center

            overflow hidden
            height 24rem
            position relative

            .controls
                position absolute
                display none
                a
                    margin 0 0.7rem
                    display inline-block
                    width 3.6rem
                    height @width
                    background-repeat no-repeat
                    background-position center
                    &.link
                        background-image url(/app/images/link.png)
                    &.zoom
                        background-image url(/app/images/zoom.png)            
            img 
                max-width 100%
        
        figcaption
            padding 3rem
            position relative
            color #fbfaf8

            &:before
                content ''
                display block
                position absolute
                top -3.5rem
                left 1rem

                border 2.5rem solid transparent;	
                border-bottom: 1rem solid color-white;

            .title
                margin-bottom 0.8rem
                font-family 'Raleway'
                font-size 2rem
                font-weight font-weight-medium
                color color-brown
    button
        margin-top 4rem 
        
/*--------------------------------
-------------- POSTS -------------
--------------------------------*/

.posts
    base-markup-for-pages(7rem,8.5rem)

    .post-item
        margin-top 3.5rem

        border 0.1rem solid #f8f8f8

        &:hover
            border-color transparent

            .photo
                &:before
                    content ''
                    display block
                    position: absolute
                    width 100%
                    height 100%
                    background-color rgba(#111111, 0.75)
                    background-repeat no-repeat
                    background-position center

            figcaption
                background-color #362f2d
                color color-white
                .title
                    color color-brown
                

        .photo
            display flex
            height 22rem
            position relative
            overflow hidden

            justify-content center

            img
                max-width 120%

            .time
                position absolute
                left 2rem
                top 2rem
                overflow hidden

                text-align center
                color color-white

                border-radius micro-border-radius

                .day
                    padding 0.9rem 1.2rem
                    background-color #363636
                    font-size 2.4rem
                .month
                    font-size 'Roboto'
                    font-weight font-weight-regular
                    padding 0.7rem
                    background-color #252525
                    font-size 1.2rem
                
            nav
                position absolute
                align-self flex-end
                bottom 2rem

        figcaption
            padding 3rem

            .title  
                font-family 'Raleway'
                font-size 2rem
                font-weight font-weight-medium

            .description
                margin-top 1.5rem
                margin-bottom 1.7rem

                line-height 2.2rem

            a
                color color-brown
                padding-right 2.5rem

                background-repeat no-repeat
                background-position 7rem -1.7rem
                background-image url(/app/images/arrows.png)
        
    .circle-arrow
        margin-top 4rem
        margin-left 0.4rem
        margin-right 0.4rem

        background-color transparent
        min-width 0
        box-shadow none 
        padding 0
        width 2.2rem
        height @width
        display inline-block

        background-position -0.9rem -6.6rem
        background-image url(/app/images/arrows.png)

        &.left
            transform scaleX(-1)

/*--------------------------------
------------ PARTNERS ------------
--------------------------------*/

.partners
    base-markup-for-pages(13.5rem,13.5rem,,'/app/images/partners_background.jpg')

    text-align center

    img
        max-width 100%

/*--------------------------------
------------- FOOTER -------------
--------------------------------*/

footer

    h3
        margin-bottom 2.4rem

        font-family 'Raleway'
        font-size 2.4rem
        color color-white

    .info
        base-markup-for-pages(8rem,8rem,#191919)

        .about
            p
                margin 2.2rem 0

            a
                font-weight font-weight-regular
                color color-white
                padding-right 2.5rem

                background-repeat no-repeat
                background-position 7rem 0.1rem
                background-image url(/app/images/arrows.png)
        
        .post-item, .twit-item
            border-bottom 0.1rem solid #252525
            margin-bottom 1.5rem

            &:last-child
                border none
            
            &:hover
                .title, .text
                    color color-brown

            time
                display inline-block
                font-size 1.2rem
                color #363636
            .title
                margin-top 1rem
                margin-bottom  1.5rem

                line-height 2rem
        
        .twit-item
            time
                margin-top 0.7rem
                margin-bottom 2rem
            
            span 
                color #00bff3
            a 
                color #959595

        .drib-widget
            overflow hidden
            height 9.8rem
            margin-bottom 1.5rem

            img
                max-width 130%


    .bottom-bar
        base-markup-for-pages(5rem,5rem,#111111)

        font-size 1.3rem

        a
            color color-gray

            &:hover
                color color-brown
                
                &:after
                    color color-gray

            &:not(:last-child):after
                content '|'
                padding 0 1rem

            span 
                color #959595
            