micro-border-radius = 0.5rem
small-border-radius = 3.5rem
big-border-radius = 50%

color-white = #ffffff
color-gray = #343a3b
color-darkgray = #262829
color-lightgray = #838b8c

color-brown = #c7b299
color-lightbrown = #90897d

font-weight-light = 300
font-weight-regular = 400
font-weight-medium = 500
font-weight-semibold = 600
font-weight-bold = 700
font-weight-extrabold = 800
font-weight-black = 900