small-border-radius = 3.5rem
big-border-radius = 50%

color-pink = #ed145b
color-white = #ffffff

color-orange = #f6961b
color-blue = #03b6e7
color-green = #16d428
color-gray = #343a3b
color-darkgray = #262829
color-lightgray = #838b8c

font-weight-light = 300
font-weight-regular = 400
font-weight-medium = 500
font-weight-semibold = 600
font-weight-bold = 700
font-weight-extrabold = 800
font-weight-black = 900